<div class="container-fluid">

  <div class="text-primary text-center">
    <h1 class="title">Exercise Roulette!</h1>
  </div>

  <div class="app container-table">
    <div class="row vertical-center-row">
      <div class="exercise"></div>
    </div>
  </div> <!-- app -->

  <div class="row center-block">
    <div class="positiveText"></div>
  </div>

  <div class="app-btn">
    <div class="row center-block">
      <div class="col-xs-6">
        <button class="btn btn-block btn-success btn-xlg center-block done-btn"> DONE </button>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-block btn-danger btn-xlg center-block skip-btn"> SKIP </button>
      </div>
    </div>
  </div>

</div> <!-- container-fluid -->

<script type="text/javascript">

  $( document ).ready(function() {

    function generate(){

      var exercises = ["10 Pushups", "10 Lunges per leg", "20 Squats", "30 Mountain Climbers", "20 Jumping Jacks"];

      randomExercise = exercises[Math.floor(Math.random()*exercises.length)];
      $('.exercise').text(randomExercise);
    }

    function positiveText(){

      var text = ["Nice!", "Good job!", "Keep it up!", "Marvelous!"];
      var animationEnd = "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend"

      randomText = text[Math.floor(Math.random()*text.length)];
      $('.positiveText').text(randomText).removeClass("hidden").addClass("animated fadeOutUp").one(animationEnd, function() {
        $(this).removeClass("animated fadeOutUp").addClass("hidden");
      });
    }

    function hideAddressBar() {
      if(!window.location.hash) {
        if(document.height <= window.outerHeight + 10) {
          document.body.style.height = (window.outerHeight + 50) +'px';
          setTimeout( function(){ window.scrollTo(0, 1); }, 50 );
        }
        else {
          setTimeout( function(){ window.scrollTo(0, 1); }, 0 );
        }
      }
    }

  $(".done-btn").on( "click", function() {
      positiveText();
      generate();
  });

  $(".skip-btn").on( "click", function() {
      generate();
  });

  generate();
  hideAddressBar();

  window.addEventListener("orientationchange", hideAddressBar );

  });

</script>