<div class="container-fluid">

  <a href="https://github.com/truongmkevin/RWG" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

  <div class="text-primary text-center">
    <h1 class="title">Exercise Roulette!</h1>
  </div>

  <div class="app container-table">
    <div class="row vertical-center-row">
      <div class="starter-container">
        <div class="starter">Ready to workout?</div>
        <button class="btn btn-block btn-default btn-xlg center-block begin-btn"> BEGIN </button>
      </div>
      <div class="countdown"></div>
      <div class="exercise-container">
        <div class="exercise"></div>
      </div>
    </div>
  </div> <!-- app -->

  <div class="row center-block">
    <div class="positiveText"></div>
  </div>

  <div class="app-btn">
    <div class="row center-block">
      <div class="col-xs-6">
        <button class="btn btn-block btn-success btn-xlg center-block done-btn"> DONE </button>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-block btn-danger btn-xlg center-block skip-btn"> SKIP </button>
      </div>
    </div>
  </div>

</div> <!-- container-fluid -->

<script type="text/javascript">

  $( document ).ready(function() {

    function countdown() {
      var fadeTime = 400;
      $('.countdown').text(3).fadeIn(fadeTime).fadeOut(fadeTime).promise()
      .done(function(){
        $('.countdown').text(2).fadeIn(fadeTime).fadeOut(fadeTime).promise()
        .done(function() {
          $('.countdown').text(1).fadeIn(fadeTime).fadeOut(fadeTime).promise()
          .done(function() {
            $('.countdown').text("GO!").fadeIn(fadeTime).fadeOut(fadeTime).promise()
            .done(function(){
              showExercise();
            });
          });
        });
      });
    }

    function generate() {

      var exercises = ["10 Pushups", "10 Lunges per leg", "20 Squats", "30 Mountain Climbers", "20 Jumping Jacks", "10 Jump Squats", "30 second Plank",
                      "10 Side Lunges per leg", "10 Jumping Lunges", "20 Glute Bridges", "20 Knee Highs"];

      randomExercise = exercises[Math.floor(Math.random()*exercises.length)];
      $('.exercise').text(randomExercise);
    }

    function positiveText(){

      var text = ["Nice!", "Good job!", "Keep it up!", "Marvelous!"];
      var animationEnd = "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend"

      randomText = text[Math.floor(Math.random()*text.length)];
      $('.positiveText').text(randomText).removeClass("hidden").addClass("animated fadeOutUp").one(animationEnd, function() {
        $(this).removeClass("animated fadeOutUp").addClass("hidden");
      });
    }

    /* Attempt to hide address bar on mobile view; doesn't seem to be working...*/
    function hideAddressBar() {
      if(!window.location.hash) {
        if(document.height <= window.outerHeight + 10) {
          document.body.style.height = (window.outerHeight + 50) +'px';
          setTimeout( function(){ window.scrollTo(0, 1); }, 50 );
        }
        else {
          setTimeout( function(){ window.scrollTo(0, 1); }, 0 );
        }
      }
    }

    function hideStarter() {
      $('.starter-container').addClass("hidden");
    }

    function hideExercise() {
      $('.exercise-container').addClass("hidden");
      $('.app-btn').addClass("hidden");
    }

    function showExercise() {
      $('.exercise-container').removeClass("hidden");
      $('.app-btn').removeClass("hidden");
      generate();
    }

  $(".done-btn").on( "click", function() {
      positiveText();
      generate();
  });

  $(".skip-btn").on( "click", function() {
      generate();
  });

  $(".begin-btn").on( "click", function() {
    hideStarter();
    countdown();
  });

  hideAddressBar();
  hideExercise();

  window.addEventListener("orientationchange", hideAddressBar );

  });

</script>