// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  background-color: #0C144C;
  text-align: center;
  height: 100%;
}

button {
  max-width: 300px;
}

.app {
  padding: 100px 30px 100px 30px;
  width: 100%;
  min-height: 400px;
  max-height: 500px;
}

.app-btn {
  position: fixed;
  bottom: 3vmin;
  left: 0px;
  width: 100%;
}

.btn-xlg {
    font-family: Nunito, Monospace;
    padding: 10px;
    font-size: 6vmin;
    line-height: 1.6;
    -webkit-border-radius: 14px;
       -moz-border-radius: 14px;
            border-radius: 14px;
}

.container-fluid {
  background-color: #0C144C;
}

.starter, .exercise, .countdown {
  font-family: Nunito, Monospace;
  font-size: 12vmin;
  color: #FFFFFF;
  padding: 20px 20px 20px 20px;
}

.positiveText {
  font-family: Nunito, Monospace;
  font-size: 9vmin;
  color: #FFFFFF;
  position: fixed;
  bottom: 30vmin;
  left: 0px;
  width: 100%;
}

.title {
  font-family: Nunito, Monospace;
  font-size: 8vmin;
  color:#FFFFFF;
  padding: 8vmin 0px 2vmin 0px;
}

/* Animations from Animate.CSS */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated-half-sec {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
  -webkit-animation-duration: 0.5s;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}

/* To Center App */
.container-table {
    height: 100%;
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}